<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--SDK Config-->
    <add key="appid" value="4A8A638D63614A45AA2EA68E993DDF0D"/>
    <add key="appkey" value="NDFkNTRmMzJmZjhiMjZhZjQzZWQ0OGE3Y2I3NzI1M2I="/>
    <add key="protocol" value="http"/>
    <add key="server" value="192.168.0.103:8080/ismes-web"/>
    <add key="api_url" value="/interf/fdkPostJson_service"/>
    <!--FREQUENCY Config-->
    <add key="refreshView" value="500"/>
    <add key="sampling" value="1000"/>
    <add key="report" value="5000"/>
    <!--CNC Config-->
    <add key="total" value="2"/>
    <add key="timeout" value="10"/>
    <add key="0" value="sb01:10.30.3.114:8193:true"/>
    <add key="1" value="sb02:10.30.3.114:8193:true"/>
  </appSettings>
</configuration>
